// @import '~@shopify/polaris/styles.css';
@import '~@shopify/polaris/build/esm/styles.css';

.item-noti {
  display: flex;
  justify-content: space-between;
}
.app-wrap {
  height: 100%;
  background-color: #fff;
}
